.footer {
  background-color: #000;
  color: #757575;
  padding: 50px 4% 30px;
  font-size: 13px;
}

.footer-container {
  max-width: 100%;
  margin: 0 auto;
}

.footer-social {
  margin-bottom: 30px;
}

.footer-social img {
    width: 30px;
    height: 30px;
    margin-right: 20px;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.2s;
    filter: brightness(4);
}

.footer-social img:hover {
  opacity: 1;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0 0 30px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns on large screens */
  gap: 10px;
}

.footer-links li {
  margin-bottom: 8px;
  font-size: 13px;
}

.footer-links a {
  color: #757575;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-copyright {
  font-size: 13px;
  color: #757575;
}

/* Medium and smaller screens: 2 columns */
@media (max-width: 800px) {
  .footer-links ul {
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }

  .footer-social img {
    width: 25px;
    height: 25px;
  }
}